<h1 class="title">
  Welcome to Chatter!
</h1>

<.link href={~p"/chat_rooms/new"}>New chat room</.link>

<ul>
  <li :for={room <- @chat_rooms} data-role="room">
    <.link href={~p"/chat_rooms/#{room}"}><%= room.name %></.link>
  </li>
</ul>
